# Python
__pycache__/
*.pyc
.venv

# Testing
.pytest_cache
.coverage
.coverage.*
htmlcov/
.tox

# Packaging / Dist
dist/
build/
*.egg-info

# Mac/OSX
.DS_Store

# Environments
.env

# Package specific
psi*.json
psi*.xlsx